<div class="footer">
  made by
  <a href="http://github.com/ndreynolds">nick reynolds</a> /
  <a href="http://github.com/ndreynolds/docstore">github</a> /
  <a href="http://github.com/ndreynolds/docstore/issues">issues</a>
  <div class="settings">
    bucket <code><%= Rails.configuration.s3_bucket_id %></code>
    sdb <code><%= Rails.configuration.sdb_domain %></code>
  </div>
</div>
