<div class="empty">
  <h1>Welcome to your <strong>docstore</strong></h1>
  You don't have any documents yet.
  <br>
  Try <strong><%= link_to 'uploading', new_document_path %></strong> a new one.
</div>
