<% if params[:tag] %>
  Filtered to documents tagged
  <%= link_to params[:tag], params.except(:offset).merge(:tag => params[:tag]), :class => 'tag' %>
  <%= link_to params.except(:tag, :offset), :class => 'action-btn' do %>
    <i class="icon-remove-sign"></i>
  <% end %>
  <hr>
<% end %>

<div class="documents">
  <%= render params[:view] == 'list' ? 'table' : 'grid' %>
</div>

<div id="upload-dialog" class="dialog hidden">
  <%= render 'form' %>
</div>
