.documents {
  .document {
    &.document-grid {
      float: left;
      margin: 20px;
      width: 165px;
      height: 150px;
      text-align: center;
      .image-wrapper {
        position: relative;
        height: 135px;
        .document-toolbar {
          display: none;
          position: absolute;
          width: 155px;
          opacity: 0.9;
          text-align: right;
          background: $clouds;
          padding: 5px;
          z-index: 1;
          a {
            display: inline;
            font-size: 15px;
          }
          a.open-link {
            float: left;
          }
        }
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0;
          border: 2px solid $silver;
          min-height: 50px;
          opacity: 0;
          transition: opacity 1s;
        }
      }
      a {
        display: block;
        font-size: 12px;
      }
      a.tag {
        display: inline;
      }
    }
  }

  table {
    font-size: 16px;

    width: 100%;
    border-collapse: collapse;

    &,
    a {
      color: #666;
    }

    a.tag,
    a.action-btn {
      color: $abestos;
      &:hover {
        color: $belize;
      }
    }

    tr:nth-child(even) {
      background: $clouds;
    }

    td {
      padding: 3px;
      max-height: 30px;
      word-wrap: nowrap;
    }

    th,
    th a {
      color: $abestos;
      text-align: left;
    }

    th a.current {
      &.asc:after {
        content: " \25B4"
      }
      &.desc:after {
        content: " \25BE"
      }
    }
  }

  .clearfix {
    clear: both;
  }
}

@media (max-width: 1200px) {
  th.mobile-hidden,
  td.mobile-hidden {
    display: none;
  }
}

.document-form-wrapper {
  width: 320px;
  margin: 50px auto;
  border: 2px solid $silver;
  padding: 20px;
}

.document-form {
  .field {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
  }

  input[type=file] {
    display: none;
  }

  #file-btn {
    font-size: 15px;
  }

  #file-val {
    float: right;
    height: 20px;
    margin-top: 10px;
    width: 160px;
    overflow: hidden;
  }
}
