body {
  /* background: #FDF7E2; */
  font-family: 'PT Sans', sans-serif;
}

h2 {
  margin: 0 20px 0 0;
  display: inline;
}

h3 {
  font-weight: 300;
  margin: 5px 0;
}

hr {
  border: 1px solid black;
  margin: 30px 0;
}

table {
  font-size: 16px;
  width: 100%;

  th {
    text-align: left;
  }
}

input[type=text] {
  border: 2px solid black;
  padding: 7px;
  outline: none;
  font-size: 13px;
  color: black;
  width: 300px;
}

ul.tagit {
  background: white !important;
  border: 2px solid black !important;
  width: 300px;
  padding: 7px;
}

.upload-btn {
  background: black;
  color: white;
  font-size: 17px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.field {
  margin-bottom: 10px;
}

.notice {
  border: 2px solid green;
  color: green;
  padding: 10px;
  margin: 15px 20px 0 20px;

  a.close {
    float: right;
    color: green;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

a.tag {
  font-size: 12px;
  padding: 2px;
  border: 2px solid gray;
  text-decoration: none;
  
  &,
  &:active,
  &:visited {
    color: gray;
  }

  &:hover {
    color: black;
    border-color: black;
    text-decoration: none;
  }
}

.tag-group {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
  &:visited,
  &:active {
    color: black;
  }
  &:hover {
    text-decoration: underline;
  }

  &.action-btn {
    color: gray;
  }
  &.action-btn:hover {
    text-decoration: none;
    color: black;
  }
}

.header {
  font-size: 20px;
  a:hover {
    text-decoration: none;
  }
}
