body {
  font-family: Lato, sans-serif;
  color: $abestos;
}

h2 {
  margin: 0 20px 0 0;
  display: inline;
  color: $abestos;
}

h3 {
  font-weight: 300;
  margin: 5px 0;
  color: $abestos;
}

hr {
  border: 1px solid $silver;
  margin: 15px 0;
}

.hidden {
  display: none;
}

.dimmed {
  opacity: 0.5;
}

.header {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 17px;
  margin-bottom: 15px;
  border-bottom: 2px solid $silver;

  a.logo {
    color: $concrete;
    i {
      position: relative;
      bottom: 2px;
    }
    &:hover {
      color: $belize;
      transition: color 200ms linear;
    }
  }

  a:hover {
    text-decoration: none;
  }

  #form-open-btn {
    float: right;
    padding: 6px;
    margin-top: -5px;
  }

  .view-options {
    padding: 5px;
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 5px;
    a {
      color: $silver;
      &:first-child {
        margin-right: 7px;
        padding-right: 2px;
        border-right: 3px solid $silver;
      }
      &:hover,
      &.active {
        color: $belize;
      }
    }
  }

  .search {
    float: right;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    bottom: 5px;
  }
}

.footer {
  border-top: 2px solid $silver;
  margin-top: 20px;
  padding: 10px 0;
  
  a,
  a:visited,
  a:active,
  a:hover {
    text-decoration: underline;
    color: $belize;
  }

  i {
    margin: 0 5px;
  }

  .settings {
    float: right;
    code {
      border: 2px solid $silver;
      padding: 2px;
      margin-right: 10px;
      margin-left: 5px;
    }
  }
}

.notice {
  border: 2px solid $notice;
  color: $notice;
  padding: 10px;
  margin: 15px 20px 0 20px;
  font-size: 15px;
  display: inline;

  &.error {
    border-color: $error;
    a.close {
      color: $error;
    }
  }

  a.close {
    margin-left: 10px;
    color: $notice;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.dialog {
  position: fixed;
  width: 320px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -130px;
  background: white;
  border: 2px solid $silver;
  padding: 20px;
  -moz-box-shadow: 0 7px 7px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 7px 7px rgba(0,0,0,0.2);
  box-shadow: 0 7px 7px rgba(0,0,0,0.2);
}

.empty {
  padding: 50px;
  text-align: center;
}

input[type=text] {
  border: 2px solid $silver;
  padding: 7px;
  outline: none;
  font-size: 13px;
  color: $abestos;
  width: 300px;

  &:focus {
    border-color: $belize;
  }
}

.field_with_errors input[type=text] {
  border-color: $error;
}

.btn {
  border: 2px solid $belize;
  border-radius: 3px;
  color: $belize;
  margin: 0;
  font-size: 17px;
  padding: 8px;
  cursor: pointer;
  background: white;
  vertical-align: middle;
  &:hover {
    text-decoration: none
  }
  &:visited,
  &:active {
    color: $belize;
  }
}

.btn-dark {
  background: $belize;
  &, 
  &:visited,
  &:active,
  &:hover {
    color: white;
  }
}

a {
  text-decoration: none;
  color: $abestos;
  &:visited,
  &:active {
    color: $abestos;
  }
  &:hover {
    text-decoration: underline;
  }

  &.action-btn {
    color: $concrete;
  }
  &.action-btn:hover {
    text-decoration: none;
    color: $belize;
  }
  &.tag {
    font-size: 12px;
    padding: 2px;
    border: 2px solid $concrete;
    text-decoration: none;
    
    &,
    &:active,
    &:visited {
      color: $concrete;
    }

    &:hover {
      color: $belize;
      border-color: $belize;
      text-decoration: none;
    }
  }
}

// Additional tweaks to tag-it styling

ul.tagit {
  width: 300px;
  margin: 12px 0;
  border-radius: 0;
  border-color: $silver;

  &.active {
    border-color: $belize;
  }

  li.tagit-choice {
    background: $clouds;
    border: 2px solid $silver;
    color: $concrete;

    &:hover {
      border-color: $belize;
    }

    span.tagit-label,
    a.tagit-close > span.text-icon {
      color: $concrete;
    }
  }
}

.ui-widget {
  background: white;
}

.tag-group {
  margin-right: 20px;
}
